.container{
    padding: 16px;
    max-height: 330px;
}

.button {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 5px;
  border: 2.5px solid #e0e1e4;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
}

.select {
  width: fit-content;
  padding: 4px;
  border-radius: 5px;
  border: 2.5px solid #e0e1e4;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
}

.button:hover {
  background-color: #f2f2f2;
}

.button:active {
  transform: scale(0.95);
}

.labelText {
  font-size: 12px;
  margin-right: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 662px;
}

.totalUser {
  flex: 4;
  padding: 16px;
  background: #f7f9fb;
  border-radius: 16px;
}

.trafficWebsite {
  flex: 1;
  padding: 16px;
  background: #f7f9fb;
  border-radius: 16px;
}

.trafficDevice {
  padding: 16px;
  padding-bottom: 8px;
  background: #f7f9fb;
  border-radius: 16px;
  height: 280px;
}

.traficCountry {
  padding: 16px;
  background: #f7f9fb;
  border-radius: 16px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text{
    color: #1C1C1C;
    font-weight: 600;
    line-height: 20px;
}

.container1{
    padding: 24px;
}

.traficContainer{
    margin-top: 16px;
    padding: 8px 8px 8px 0px;
    display: flex;
    flex-direction: column;
    gap:40px;
    justify-content: space-between;
}

.divStylesParent{
    display: flex;
    gap:12px;
    align-items: center;
    transition: padding-left 0.3s ease;
}

.divStylesParent:hover{
    padding-left: 6px;
}

.divStyle1{
    border-radius: var(--80, 80px);
    background-color: #1C1C1C;
    height: 4px;
    width: 20px;
}

.divStyle2{
    border-radius: var(--80, 80px);
    background: var(--black-40, rgba(28, 28, 28, 0.40));
    height: 4px;
    width: 20px;
}

.divStyle3{
    border-radius: var(--80, 80px);
    background: var(--black-10, rgba(28, 28, 28, 0.10));
    height: 4px;
    width: 20px;
}

.divStyles{
    display: flex;
    gap: 2px;
}

.progressBar{
    display: flex;
    flex-direction: column;
    gap:40px
}

.text2{
    font-size: 12px;
}