.container {
  padding: var(--20, 20px) var(--28, 28px);
  background-color: var(--bgSoft);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px ;
  border-bottom: 1px solid var(--black-10, rgba(28, 28, 28, 0.10));
}

.title {
  color: var(--textSoft);
  text-transform: capitalize;
  font-size: 14px;
}

.titleSlash{
  color: var(--textSoft);
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--black-5, rgba(28, 28, 28, 0.05));
    padding: 10px;
    border-radius: 10px;
}

.input{
    background-color: transparent;
    color: var(--text);
    border: none;
}

.input:focus {
  outline: none; 
}

.icons{
    display: flex;
    gap: 20px;
}

.titleDiv{
  display: flex;
  align-items: center;
  gap:20px;
}

