.container {
  padding: 24px;
  background-color: var(--bgSoft);
  border-radius: var(--16, 16px);
  display: flex;
  cursor: pointer;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title{
  font-size: 12px;
  line-height: 18px;
  transition: padding-left 0.3s ease;
}

.title:hover{
  padding-left: 6px;
}

.activityCount{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.count{
  font-size: 16px;
  font-weight: 600;
}

.activity{
  font-size: 12px;
  display: flex;
  align-items: center;
  gap:8px;
}