.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 20px 20px 20px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.texts{
  font-weight: 600;
}

.text{
  font-size: 12px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap:20px
}

.side {
  flex: 1;
}