.container{
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.3s ease;
    margin: 4px 0px;
    border-radius: var(--12, 12px);
    font-size: 14px;
    color: #1C1C1C;
    cursor: pointer;
}

.container:hover{
    background-color: var(--black-5, rgba(28, 28, 28, 0.05));

    .title{
        padding-left: 6px;
    }
}

.container.active{
    background-color: var(--black-5, rgba(28, 28, 28, 0.05));
}

.title{
    transition:padding-left 0.4s ease;
}

.title.active{
    padding-left: 6px;

}

